vendor
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp
.pnp.js
storage/*.key
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/storage/logs
/public/storage
/.env
/.env.*
/.git
/.idea
/.vscode
/tests
/phpunit.xml
/phpunit.xml.dist
/.dockerignore
Dockerfile
